# Ignore everything by default
/*
/*/

# Allow gitignore
!.gitignore

# Allow specific directories
!/cmake/
!/module/
!/src/
!/cmake/*
!/module/*
!/src/*


# Allow specific files
!CMakeLists.txt
!.gitattributes
