# Ignore everything by default
/*
/*/
/build
/out
/.vs
/desktop.ini

# Allow gitignore
!/.gitignore

# Allow specific directories
!/cmake
!/module
!/src
!/cmake/*
!/module/*
!/src/*
!/tool/*
/tools/bin


# Allow specific files
!/CMakeLists.txt
!/.gitattributes
